.mainWrapper {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#101820, #d1d1d1);
  .main {
    font-size: 50px;
  }
  /* Add these styles to your CSS file */
  .scrollButton {
    position: absolute;
    bottom: 20px;
    // left: 50%;
    // transform: translateX(-50%);
    padding: 10px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    animation: vibrate 2s infinite linear, scroll 1s infinite;
  }
  .downarrow:before {
    content: "\276F";
  }

  .downarrow {
    font-size: 30px;
    display: inline-block;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    // padding: 10px;
  }
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-48%);
  }
}

@keyframes scroll {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@media (max-width: 480px) {
  .mainWrapper {
    padding: 0 30px;
    // align-items: start;
    .main {
      font-size: 27px;
    }
  }
}
