.navWrapper {
  z-index: 999;
  padding: 5px 20px;
  padding-left: 40px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  li {
    list-style-type: none;
  }
  .imageSection {
    .mainImage {
      border-radius: 50%;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    .name {
      color: #111;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.3 px;
      font-family: "monospace";
      &:hover {
        color: #0f0050;
        // transition: background-color 0.4s ease;
        // background-color: #7c92ae;
      }
    }
  }
  .mainNav {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // gap: 25px;

    a {
      color: #333;
      font-size: 15px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 600;
      font-family: "monospace";
      // border: 2px solid #515f71;
      // border-radius: 40px;
    }
    a:hover {
      color: #0f0050;
      // transition: background-color 0.4s ease;
      // background-color: #7c92ae;
    }
  }
}

.stickyNavWrapper {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}
