.navWrapper {
  z-index: 999;
  padding: 15px 20px;
  padding-right: 40px;
  background-color: #101820;
  li {
    list-style-type: none;
  }
  .mainNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    a {
      color: white;
      font-size: 20px;
      padding: 5px 10px;
      border: 2px solid #ffffff;
      border-radius: 40px;
    }
    a:hover {
      color: #101820;
      transition: background-color 0.4s ease;
      background-color: #fee715;
    }
  }
}
