.mainWrapper {
  font-family: monospace;
  //   background: linear-gradient(#dbdada, #fff);
  background: #fff;
  .heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    &:after {
      content: "";
      position: absolute;
      // top: calc(100% + 43rem);
      height: 5px;
      width: 4rem;
      background: #0f0050;
      left: 50%;
      // transform: translateX(-50%);
      transform: translate3d(-50%, 40px, 0);
      border-radius: 5px;
    }
  }
  .description {
    // margin: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
  }
  .projectWrapper {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    .projectTitle {
      padding-top: 15px;
    }
    .projectDescription {
      padding: 20px 0;
      color: #666;
    }
    .buttonWrapper {
      display: flex;
      flex-direction: row;
      //   justify-content: space-around;
      gap: 30px;
      a {
        cursor: pointer;
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 10px;
        background: #0f0050;
        color: #fff;
      }
      .disbled {
        cursor: not-allowed;
        background: #666;
        color: #797979;
      }
    }
  }
}

@media (max-width: 991px) {
  .mainWrapper {
    .heading {
      &:after {
        // top: calc(100% + 67rem);
        transform: translate3d(-50%, 40px, 0);
      }
    }
    .projectWrapper {
      padding: 40px 20px;
      flex-direction: column;
      img {
        width: 400px;
        height: 250px;
      }
    }
  }
}
